@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    color: #333;
    overflow-x: hidden;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.clear_fix::before,
.clear_fix::after {
    display: block;
    content: "";
    clear: both;
}